<div class="container mt-5">
  <h4>
    Internal Server Error - refreshing the page will make exception disappear
  </h4>
  <ng-container *ngIf="error">
    <h5 class="text-danger">Error: {{ error.error.message }}</h5>
    <p class="font-weight-bold">
      Note: if you are seeing this then Angular is not probably not responsible
    </p>
    <p>What to do next?</p>
    <ol>
      <li>Open chrome dev tools</li>
      <li>Inspect the network tab</li>
    </ol>
    <code class="mt-5" style="background-color: whitesmoke;">
      {{ error.error.details }}
    </code>
  </ng-container>
</div>
